* {
    margin: 0;
    padding: 0;
    font-family: 'Crimson Text', serif;
    --font-color: rgba(248, 180, 108, 0.882);
    
}

.header {
    height: 650px;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/VieAsso3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 1.2% 1%;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.1);

    
}

nav img {
    width: 120px;
    margin-right: 10px;
    object-fit: contain;
    border-right:  1px solid rgb(23, 19, 19);
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px; /* Add some spacing between navbar items */
    padding: 10px 20px;
    position: relative;
    font-family: 'Canela Web', 'Cairo';
}

.nav-links ul li a {
    color: #333; /* Text color for navbar items */
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; /* Uppercase text for a professional look */
}

.nav-links ul li::after {
    content: '';
    width: 0px;
    height: 2px;
    background: var(--font-color);
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.text-box h1 {
    font-size: 60px;
    
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
}

.text-box a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 16px 34px;
    font-size: 18px;
    background: transparent;
    transition: 1s;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    
}

.text-box a:hover {
    border: 1px solid var(--font-color);
    background: var(--font-color);
    transform: 1s;
}


@media (max-width: 700px) {
    .text-box h1 {
        font-size: 50px;
    }

    .nav-links ul li {
        display: block;
        margin: 10px 0; /* Add spacing between mobile navbar items */
    }

    .nav-links {
        position: absolute;
        background: var(--font-color);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}



.content-1 {
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 30px;
    
}

.content-1 h1{
    font-size:36px;
    font-weight: 600;
    border-bottom: 1px solid rgb(25, 25, 25); 
    padding-bottom: 25px;
    

}

.content-1 p {
    padding-top: 25px;
    font-size:20px;
    text-align: justify;
    
}
.content-1 img{
    margin-top: 20px;
    border-radius: 10px;

}

.row {
    display: flex;
}



.content-1 img:hover {
    box-shadow: 0 0 20px 0px rgba(4, 9, 30, 0.7);
}

.image {
    flex: 1;
    margin: 0 10px; 
    flex-basis: 32%;
    border-radius: 15px;
    margin-bottom :0px;
    position:relative;
    overflow:hidden;
    
}
.image img {
    width: 90%;
    height: 85%;
    
    

}
.Equipe {
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 30px;
    
}



/*clubs*/
.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.profil-box {

    width: 300px;
    background: rgb(254, 248, 241);
    text-align: center;
    padding: 20px;
    margin: 15px 0;
    border: 2px solid rgba(248, 206, 108, 0.882);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profil-box img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 15px;
}

.profil-box:hover {
    box-shadow: 0 0 20px 0px rgba(4, 9, 30, 0.7);
}

.profil-box h3{
    margin: 0;
    color: #333;
    font-weight: bold;
    font-size: 18px;
  
}

.profil-box p{
    text-align: center;
}

.profil-box a{
    color: rgba(91, 62, 3, 0.882);
}

.profil-box {
    display: flex;
    flex-direction: column;
}

.profile-bottom {
    color: #555;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    flex-grow: 1;
    margin-top: 10px;
    flex-grow: 1;
    font-size: 10PX;

}
.profile-bottom p {
    font-size: 18px;
}

