* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #ececec;
    height: auto; /* Change to 'auto' or remove this line */
}


footer {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 1px; /* Adjust the padding-top value as needed */
   background-color: #3586ff;
}


.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 12px;

}

.wrapper {
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;

}

.wrapper .footer-widget {
    width: calc(9% - 9px);
    margin: 20px 15px 40px;
    padding: 0 12px;
    margin-top: 30px;
    margin-bottom: 10px;

}

.wrapper .footer-widget:nth-child(1){
    width: calc(40% - 50px);
    margin-right: 25px;
}

.wrapper .footer-widget .logo{
    margin-bottom: 30px;
    vertical-align: middle;
}

.wrapper .footer-widget p{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    color:#fff;
    font-weight: 500;

}

.wrapper .footer-widget .socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
} 

.wrapper .footer-widget .socials li{
    list-style: none;
}

.wrapper .footer-widget .socials li a{
    width: 44px;
    height: 44px;
    margin-right: 10px;
    color: rgb(0, 82, 158);
    background-color:  #f8b46ce1;
    border-radius: 50px;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
}

.wrapper .footer-widget .socials li a:hover {
    background-color: rgb(214, 229, 243);
}

.wrapper .footer-widget h6{
    color:#f8b46ce1;
    margin: 25px 0 15px;
    font-size: 20px;
    font-weight: 600;
}

.wrapper .footer-widget .links li {
    margin-bottom: 9px;
    list-style: none;

}

.wrapper .footer-widget .links li a{
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 20px;
    transition: all 0.3s ease-out;
    font-weight: 500;
    
    

}
.wrapper .footer-widget .links li a:hover{
    color: #034281;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #ececec;
}



.form-box {
    padding: 10px;
    border-radius: 5px;
    background: rgb(214, 229, 243);
    box-shadow: 10px 10px 15px #c7c4c4, -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-right: 150px;
    
}

.form-box input {
    font-size: 18px;
    color: #000;
    padding: 15px 10px;
    border: none;
    outline: none;
    background: rgb(214, 229, 243);
    
}

.form-box button {
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: #f8b46ce1;
    cursor: pointer;
    transition: .3s;
}

.form-box button:hover {
    background: rgba(241, 147, 47, 0.882);
}

.newsletter-widget h6 {
    color: #f8b46ce1;
    font-size: 20px;
    font-weight: 600;
    margin-top: 28px;
    margin-left: 150px;
}

.newsletter-widget p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-left: 150px;
    font-weight: 500;
   
}


.copyright{
    padding: 20px 0;
    border-top: 1px solid  #edf4fe;

}
.copyright p{
    color: #e4edf6;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}


.copyright p a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-out;

}

.copyright p a:hover{
    color: #82b8ee;
}


@media(max-width:992px){
    .container{
        max-width: 960px;
    }

    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1){
        width: calc(50% - 30%);
    }
}

@media(max-width:768px){
    .container{
        max-width: 720px;
    }

    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1){
        width: 100%;
        margin: 0 10px 50px;

    }
}