* {
    margin: 0;
    padding: 0;
    font-family: 'Crimson Text', serif;
    --font-color: #3586ff;
    
    
}

.header {
    height: 650px;
    width: 100%;
    background-image: linear-gradient(rgba(51, 35, 35, 0.7), rgba(43, 44, 45, 0.7)), url(../images/22.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    flex: 1;
}

/*navbar*/
nav {
    display: flex;
    padding: 1.2% 1%;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.1);

    
}

nav img {
    width: 120px;
    margin-right: 10px;
    object-fit: contain;
    border-right:  1px solid rgb(23, 19, 19);
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px; 
    padding: 10px 20px;
    position: relative;
    font-family: 'Canela Web', 'Cairo';
}

.nav-links ul li a {
    color: #333; 
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; 
}

.nav-links ul li::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    margin: auto;
    
}

.nav-links ul li:hover::after {
    width: 100%;
    
}
.nav-links ul li a:hover {
    color: var(--font-color);
}


.sub-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 250px;
    padding: 10px 0;
    border-radius: 10px;
    opacity: 0;
    transform: scaleY(0.8);
    transform-origin: top;
    transition: opacity 0.3s, transform 0.3s;
}

.sub-menu li {
    padding: 12px 20px;
    font-family: 'Canela Web', 'Cairo';
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 8px;
}

.sub-menu a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    transition: color 0.3s;
    display: block;
}


.sub-menu ul li a {
    text-transform: lowercase; 
}

.sub-menu li:hover {
    background-color: #f1f1f1;
}

.sub-menu li a:hover {
    color: var(--font-color);
}

.nav-links ul li:hover .sub-menu {
    display: block;
    top: 100%;
    opacity: 1;
    transform: scaleY(1);
}

/** fin NavBar**/

/** hero-slide**/
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    
}

.text-box h1 {
    font-size: 60px;
    
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
    
}

.text-box a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 16px 34px;
    font-size: 18px;
    background: transparent;
    transition: 1s;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    
}

.text-box a:hover {
    border: 1px solid var(--font-color);
    background: var(--font-color);
    transform: 1s;
}

/* Bouttons
.text-box a.hero-btn-1,
.text-box a.hero-btn-2 {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: var(--font-color);
    padding: 16px 32px;
    font-size: 18px;
    border: 2px solid var(--font-color);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    margin: 10px;
}

.text-box a.hero-btn-1:hover,
.text-box a.hero-btn-2:hover {
    background-color: transparent;
    color: var(--font-color);
    transform: translateY(-3px);
}

.text-box a.hero-btn-2 {
    background-color: transparent;
    color: var(--font-color);
    border-color: var(--font-color);
}

.text-box a.hero-btn-2:hover {
    background-color: var(--font-color);
    color: #fff;
}

.text-box a {
    display: inline-block;
}

.text-box h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.text-box p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.text-box {
    text-align: left;
}
*/
/* Add subtle box-shadow for depth */
.text-box a.hero-btn-1,
.text-box a.hero-btn-2 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/**nav slide**/
.colored-slide {
    background-color: #e1e1e1; /* Set your desired background color */
    padding: 35px;
    text-align: center;
}

.colored-slide h2 {
    font-size: 22px;
    color: #333; /* Set your desired text color */
    font-weight: 200;
}

.colored-slide a {
    font-size: 22px;
    color: var(--font-color);
    text-decoration: none; /* Remove underline */
 
}

/**fin hero-slide**/


@media (max-width: 700px) {
    .text-box h1 {
        font-size: 50px;
    }

    .nav-links ul li {
        display: block;
        margin: 10px 0; /* Add spacing between mobile navbar items */
    }

    .nav-links {
        position: absolute;
        background: var(--font-color);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}
.content-1 {
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 30px;
    
}
.content-1 h1{
    font-size:36px;
    font-weight: 600;
    border-bottom: 1px solid rgb(25, 25, 25); 
    padding-bottom: 25px;
   

}

.content-1 p {
    font-size: 20px;
    line-height: 1.5; /* Ajuste ce chiffre pour augmenter l'espace entre les lignes */
    text-align: justify;
    padding-top: 2%;
    padding-bottom: 2%;
}

.content-1 a {
    color: #3586ff;
    transition: color 0.3s ease; 
    text-decoration: none;
}

.content-1 a:hover {
    color: #5e7aa3; /* Couleur au survol de la souris */
    transform: translateY(-5px); /* Translation de 5 pixels vers le haut */
}

.content-1 img{
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

}

.row {
    display: flex;
}
.content-1 img:hover {
    box-shadow: 0 0 20px 0px rgba(4, 9, 30, 0.7);
}

.image {
    flex: 1;
    margin: 0 10px; /* Add some margin between images */
    flex-basis: 32%;
    border-radius: 15px;
    position:relative;
    overflow:hidden;
    
}

.Equipe {
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 30px;
    
}

/*equipe de l'isimm */

.header-2 {
    height: 650px;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/staff.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.content-1 h2{
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
    color: #020a0f;
    font-weight: 600;
    display: inline-block; /* Ajout de cette ligne */
    border-bottom: 1px solid #020609;
}
.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.profil-box {

    width: 300px;
    background: rgb(254, 248, 241);
    text-align: center;
    padding: 20px;
    margin: 15px 0;
    border: 2px solid rgba(248, 206, 108, 0.882);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profil-box img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 15px;
}

.profil-box:hover {
    box-shadow: 0 0 20px 0px rgba(4, 9, 30, 0.7);
}

.profil-box h3{
    margin: 0;
    color: #333;
    font-weight: bold;
    font-size: 18px;
  
}

.profil-box p{
    text-align: center;
}

.profil-box a{
    color: rgba(91, 62, 3, 0.882);
}

.profil-box {
    display: flex;
    flex-direction: column;
}

.profile-bottom {
    color: #555;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    flex-grow: 1;
    margin-top: 10px;
    flex-grow: 1;
    font-size: 10PX;

}
.profile-bottom p {
    font-size: 18px;
}




.learn-more {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    border: 2px solid #3498db;
    padding: 8px 15px;
    border-radius: 5px;
}

#arrow {
    width: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.position {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgba(247, 176, 9, 0.882);
}

footer{
    margin-top:2%;
}

iframe{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    padding-top: 2%;
}
#contentContainer {
    display: none;
}









