
*{
    list-style: none;
    font-family: 'Crimson Text', serif;
    text-decoration: none;
  }
  
  /*position: fixed;*/
  
  body{
    background: #e8edf5;
    width: 100%;
    height: 100%;
  }
  /*MENU*/
  .wrapper .top_navbar{
      width: 100%;
      height: 65px;
      display: flex;
      /*position: fixed;*//*met3 ktiba formulaire ne ligne */ 
  
    margin-top: 0px;
    z-index: 2;
  }
  
  .wrapper .top_navbar .logo{
      width: 430px;
      height: 100%;
      background: #3498db;
      border-bottom: 1px solid #3498db;
  }
  
  .wrapper .top_navbar .logo a{
      display: block;
      text-align: center;
      font-family: 'Montserrat Subrayada', sans-serif;
        font-size: 20px;
        color: #fff;
        padding: 20px 0;
  }
  
  .wrapper .top_navbar .top_menu{
      width: calc(100% - 250px);
      height: 100%;
      background: #fff;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .wrapper .top_navbar .top_menu .home_link a{
      display: block;
      background: #3498db;
      color: #fff;
      padding: 8px 15px;
      border-radius: 3px;
  }
  
  .wrapper .top_navbar .top_menu .home_link a:hover,
  .wrapper .top_navbar .right_info .icon_wrap:hover {
      background: #3498db;
  }
  
  .wrapper .top_navbar .right_info{
      display: flex;
  }
  
  .wrapper .top_navbar .right_info .icon_wrap{
      padding: 8px 15px;
      border-radius: 3px;
      background: #3498db;
      color: #fff;
      margin: 0 5px;
      cursor: pointer;
  }
  
  /*zedtou enty */
  
  .main_body {
    display: flex;
  }
  
  
  
  .main_body .sidebar_menu{
  
    /*zedtha tawa */ 
  
        top: 260px;/*hounii besh thabet */
        left: 0;
        background: #3498db;
        width: 430px;
        height: 2000px;
        transition: all 0.3s linear;
  
      z-index: 1;
  }
  
  .main_body .sidebar_menu .inner__sidebar_menu{
      position: relative;
      padding-top: 60px;
  }
  
  .main_body .sidebar_menu ul li a{
    color: #fff;
    font-size: 18px;
    padding: 20px 35px;
    display: block;
    white-space: nowrap;
  }
  
  .main_body .sidebar_menu ul li a .icon{
    margin-right: 8px;
  }
  
  .main_body .sidebar_menu ul li a span{
    display: inline-block;
  }
  
  .main_body .sidebar_menu ul li a:hover{
    background: #22699c;
    color: #fff;
  }
  
  .main_body .sidebar_menu ul li a.active{
    background: #22699c;
    color: #fff;
  }
  
  .main_body .sidebar_menu .hamburger{
    position: absolute;
    top: 5px;
    right: -25px;
    width: 50px;
    height: 50px;
    background: #e8edf5;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .main_body .sidebar_menu .inner_hamburger,
  .main_body .sidebar_menu .hamburger .arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .main_body .sidebar_menu .inner_hamburger{
    width: 40px;
    border-radius: 50%;
    height: 40px;
    background: #3421C0;
  }
  
  .main_body .sidebar_menu .hamburger .arrow{
    color: #fff;
    font-size: 20px;
  }
  
  .main_body .sidebar_menu .hamburger  .fa-long-arrow-alt-right{
    display: none;
  }
  
  .main_body .container{
      width: calc(100% - 250px);
      margin-top: 65px;
      margin-left: 250px;
      padding: 25px 40px;
      transition: all 0.3s linear;
  
    width: calc(100% - 430px);
  }
  
  .main_body .container .item_wrap{
      display: flex;
      margin-bottom: 20px;
  }
  
  .main_body .container .item_wrap .item{
      background: #fff;
      border: 1px solid #e0e0e0;
      padding: 25px;
      font-size: 14px;
      line-height: 22px;
  }
  
  .main_body .container .item_wrap .item:first-child{
      margin-right: 20px;
  }
  
  /* after adding active class */
  .wrapper.active .sidebar_menu{
    width: 100px;
  }
  
  .wrapper.active .hamburger .fa-long-arrow-alt-right{
    display: block;
  }
  
  .wrapper.active .hamburger .fa-long-arrow-alt-left{
    display: none;
  }
  
  .wrapper.active .sidebar_menu ul li a .list{
    display: none;
  }
  
  .wrapper.active .main_body .container{
    width: calc(100% - 100px);
    margin-left: 100px;
  }
  
  
  .header {
    height: 650px;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/4.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  
  /*form*/
  
  .container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
  }
  
  /*zedtha */ 
  .container .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; /* Set height to 100% */
    position:absolute;
    margin-left:0px ;
  
    margin-right: 400px;
    
  }
  
  
  .container .title{/*controli el titre*/
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    /*hadouma el zouz besh tbadel position l title */ 
    top:850px;
    left:855px;
  }
  .container .title::before{/*eka zina el move */
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    /*background: linear-gradient(135deg, #1773b0, #40336c);/*met3 eka el fza fi titre */ 
  }
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  
  /*content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    width: 100%; /* Set width to 100% *
  }
  
  
  
  /*zedtou enty */ 
  
  
  
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%; /* Set width to 100% */
  
    
  }
  
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  
    
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  
    
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #105decc9;
  }
  form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
  
    
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
  
     
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: #9f2d40;
     border-color: #b7520a;
   }
   form input[type="radio"]{
     display: none;
   }
   form .button{
     height: 45px;
     margin: 35px 0;
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;/*loun el ktiba envoyer*/
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background-color: #1a8ad4;
   }
   form .button input:hover{
    /* transform: scale(0.99); */
    background-color: rgba(72, 149, 232, 0.748); /* Couleur assortie */
  }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }
  
  
  
  